body {
  background: #ECEFF1;
  margin: 0;
}

form {
  max-width: 65%;
  margin: 50px auto;
  font-size: 25px;
  text-align: center;
  font-family: monospace;
}

h1 {
  font-size: 80px;
  font-family: font-family: 'Bangers', cursive;
  color: orange;
}

input {
  padding: 25px;
  font-size: 20px;
  width: 94%;
	border: blue;
	color: #aaa;
	font-weight: bold;
  line-height: 3;
  border: 5px solid #0071b9;
  border-width: 0 0 5px;
}

input:focus {
  outline: none;
}

ul {
  padding: 0px;
  margin: 0px;
}

li {
  width: 94%;
  background: white;
  list-style: none;
  padding: 25px;
  display: flex;
  justify-content: space-around;
  box-shadow: 2px 0 10px rgba(0,0,0,.2);
  transition: all 0.2s;
}

li:hover {
  background: grey;
  color: white;
}

span {
  margin-left: 30px;
  margin-right: 30px;
}

img {
  margin-right: 20px;
  width: 60px;
  height: 60px;
}

/* queries */
@media only screen and (max-width: 1023px) {
  form {
    max-width: 80%;
}

@media only screen and (max-width: 800px) {
  form {
    max-width: 100%;
    font-size: 18px;
  }

  img {
    width: 40px;
    height: 40px;
  }

  h1 {
    font-size: 50px;
  }
}

@media only screen and (max-width: 480px) {
  form {
    font-size: 12px;
  }
  img {
    width: 20px;
    height: 20px;
  }

  h1 {
    font-size: 30px;
  }
}
